<h1><%= t('.title') %></h1>

<%= render "form", book: @book %>

<br>

<nav class="page-nav">
  <%= link_to t('helpers.links.back_to_index', model: Book.model_name.human(count: 2)), books_path %>
</nav>
